body{
    margin: 0;
    padding: 0;
    font-size: 15px;
}

/* Navigation */
nav{

    margin-top: 40px;
    overflow:hidden;
    text-align: left;

    float: right;
    width: 91%;
}

nav ul{
    margin: 0;
    padding: 0;
}

nav ul li{
    display: inline-block;
    list-style-type: none;
}

nav > ul > li > a{
    color: #aaa;
    display: block;
    padding: 0.5em 1em;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 20px;
    font-size: 20px;
    color: #48514E;
}

nav ul li a:hover{
    
    color: #ffa03b;
}


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*
  /* Mobile Navigation */
    .mobile-nav-toggle {
    position: fixed;
    right: 15px;
    top: 10px;
    z-index: 9998;
    border: 0;
    background: none;
    font-size: 24px;
    transition: all 0.4s;
    outline: none !important;
    line-height: 1;
    cursor: pointer;
    text-align: right;
  }
  
  .mobile-nav-toggle i {
    color: #34b7a7;
  }
  
  .mobile-nav {
    position: fixed;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    z-index: 9999;
    overflow-y: auto;
    background: #fff;
    transition: ease-in-out 0.2s;
    opacity: 0;
    visibility: hidden;
    border-radius: 10px;
    padding: 10px 0;
  }
  
  .mobile-nav * {
    margin: 0;
    padding: 0;
    list-style:none;
  }
  
  .mobile-nav a {
    display: block;
    position: relative;
    color: #222222;
    padding: 10px 20px;
   
    font-weight: 500;
    text-align: left;
    width: 300px;
    outline: none;
  }
  
  .mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
    color: #34b7a7;
    text-decoration: none;
  }
  
  .mobile-nav .drop-down > a:after {
    content: "\ea99";
    font-family: IcoFont;
    padding-left: 10px;
    position: absolute;
    right: 15px;
  }
  
  .mobile-nav .active.drop-down > a:after {
    content: "\eaa1";
  }
  
  .mobile-nav .drop-down > a {
    padding-right: 35px;
  }
  
  .mobile-nav .drop-down ul {
    display: none;
    overflow: hidden;
  }
  
  .mobile-nav .drop-down li {
    padding-left: 20px;
  }
  
  .mobile-nav-overly {
    width: 100%;
    height: 100%;
    z-index: 9997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(9, 9, 9, 0.6);
    overflow: hidden;
    display: none;
    transition: ease-in-out 0.2s;
  }
  
  .mobile-nav-active {
    overflow: hidden;
  }
  
  .mobile-nav-active .mobile-nav {
    opacity: 1;
    visibility: visible;
  }
  
  .mobile-nav-active .mobile-nav-toggle i {
    color: #fff;
  }

  
  @media (min-width: 200px) and (max-width: 767px){
   .bg-div{
       height: 40px;
       background-color: #E2EDE7;
   }

   .logo-img{
       height: 40px;
   }

   
  
  }

.logo-img{
    margin-left: 2%;
    position: relative;
    width: 7%;
}
.bg-div{
    background-color: #F4F9F3;
    opacity: 0.9;
}

#home{
    padding-top: 110px;
    padding-bottom: 100px;
}

#home .btn-contact {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 40px;
    border-radius: 50px;
    transition: 0.5s;
    margin-top: 20px;
  color: black;
  border: 2px solid #848787;
    margin-bottom: 100px;
  }

#blog .btn-contact {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 40px;
    border-radius: 50px;
    transition: 0.5s;
    margin-top: 20px;
  color: black;
  border: 2px solid #848787;
    margin-bottom: 100px;
  }


  #contact .btn-contact {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 40px;
    border-radius: 50px;
    transition: 0.5s;
    margin-top: 20px;
  color: white;
  border: 2px solid 
    margin-bottom: 100px;
  }


.choose-class{
    background-color: #6B9893;
    padding-top: 100px;
    padding-bottom: 100px;
}




.circle{

    margin-top: 80px;
    position: relative;
    border: 3px solid #6B9893;
    height: 200px;
    width: 200px;
    -moz-border-radius:100px;
    -webkit-border-radius: 100px;
}

.circle-info{
    position: absolute;
    width: inherit;
    height: auto;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

.blog-page{
    background-color: #6B9893;
    padding-right: 0;
}


.blog-page .btn-contact {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 40px;
    border-radius: 5px;
    transition: 0.5s;
    margin-top: 20px;
    color: #6B9893;
    
    margin-bottom: 100px;
  }

.fit-image{
  height: 100%;
  width: 100%;
}

#my-grid{
  margin: 30px;
}


.grid-padding{
  padding: 0 8px;
}

.grid-padding img{
  margin-bottom: 15px;
  transition: 0.8s ease;

}

.col-sm-4
{
  padding-right: 10px;
}